.container
  .pad-section
    .box
      %h1.text-center Generate
      .pad-section
        .row
          .col-sm-4.offset-sm-4
            %label
              Name your project
            .form-group
              = text_field_tag :application_name, nil, { id: 'project-name-field', class: 'form-control' }
            %button#new-project-submit-button.btn.btn-large.btn-primary.btn-block{ data: { target: '#generateModal', toggle: 'modal'} } Gimme

#generateModal.modal.fade{ role: 'dialog', tabindex: '-1', aria: {hidden: 'true', labelledby: 'generateModalLabel'} }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5#generateModalLabel.modal-title New Project
        %button.close{ aria: {label: 'Close'}, data: {dismiss: 'modal'} }
          %span{ aria: {hidden: 'true'} } ×
      .modal-body
        %b Project Name:
        %span#project-title-wrapper
          project-name
        %br
        %br
        %p Copy and paste this into your bash terminal:
        %p.text-code.text-center
          git clone https://github.com/PolarNotion/rails-app-template.git
          %span#project-name
            new-project
      .modal-footer
        %button.btn.btn-primary.btn-block{ data: {dismiss: 'modal'} } Thanks!

:javascript
  $(document).ready( function() {
    $('#new-project-submit-button').click(function(){
      projectName = $('#project-name-field').val();
      $('#project-title-wrapper').html(projectName);
      $('#project-name').html(projectName);
      console.log(projectName);
      console.log('click');
    });
  });
