.container
  .pad-section
    .box
      %h1.text-center How to use this Generator
      .pad-section
        %ol
          %h3
            %li Go to the Get page and name your app
          %h3
            %li Paste the provided code snippet into your browser
          %h3
            %li (optional) run the ruby scripts found in: public/scripts/
          %h3
            %li
              Don't forget to rename your app in:
              .text-code
                config/application.rb
              .text-code
                config/initializers/session_store.rb
