@import 'palette';
@import 'variables';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: $color_background_primary;
  padding-bottom: 100px;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

fieldset {
  border-top: 1px solid #ccc;
  margin: 20px 0px 0px;
  padding: 20px 0px 0px 20px;
  background-color: $color_white;
  cursor: -webkit-grab;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.alert {
  margin-bottom: 0px;
  border-radius: 0;
}

.display-none {
  display: none;
}

.container-sm {
  max-width: 400px;
}

.container-md {
  max-width: 600px;
}

.container-lg {
  max-width: 800px;
}

.box {
  background-color: $color_white;
  padding: $box_pad;
  margin-bottom: 20px;
  h1 {
    margin-top: 0;
  }
}

.pad-section {
  padding: 20px 0px;
}

.profile-thumb-wrapper {
  img {
    border-radius: 100%;
  }
}

.text-code {
  color: #7D2727;
  background: #eff0f1;
  padding: 5px;
  oveflow: auto;
  font-size: 13px;
  font-weight: bold;
}
