- unless notice == nil || notice == ''
  .alert.alert-success.text-center
    .container.text-center
      = notice
- unless alert == nil || alert == ''
  .alert.alert-danger.text-center
    .container.text-center
      = alert
